<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>员工余额查询</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>员工余额查询</h2>

    <div class="info_middlebody">

        <%-include("../../component/table/twoNormalInput.ejs",{
        "titleone":"员工姓名：",
        "placeholderone":"请输入员工姓名",
        "titletwo":"手机号码：",
        "placeholdertwo":"请输入手机号",
        })%>


        <%-include("../../component/table/oneSelect.ejs",{
        "titleone":"账户选择：",
        "options":[
        {"option":"薪资账户"},
        {"option":"福利账户"},
        ],
            "defaulttitleone":"全部"
        })%>

        <%-include("../../component/table/oneleftBtn.ejs",{
        "titleone":"查询",
        })%>
        <%-include("../../component/table/oneleftBtn.ejs",{
        "titleone":"导出",
        })%>




    </div>
    <!--表格-->


        <%-include("../../component/table/normalTable.ejs",{
        "tablehead":[
        {"name":"姓名"},
        {"name":"账号"},
        {"name":"手机号"},
        {"name":"薪资余额"},
        {"name":"福利余额"},
        ],
            "tabletd":[
        {"name":"小王"},
        {"name":"1623626226"},
        {"name":"13596369543"},
        {"name":"500,000.00"},
        {"name":"300.00"},
        ]
        })%>


    <!--分页-->
    <%-include("../../component/table/infoPage.ejs")%>



</div>

<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    $('input.form_datetime').each(function(){//------------------日历插件
        $(this).datepicker({
            format: "yyyy-mm-dd",
            autoclose :true,
            todayBtn :true,
            minView :2,
            weekStart :1,
            linked :true
        });
    });

    $('ul.pagination').find('li:not(.go)').each(function(){

        $(this).click(function(){

            jfpagechange(this);//参数为选择的当前元素
        })
    })

</script>
</body>
</html>