<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>员工查询</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <style>


    </style>
</head>
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>企业实名认证审批</h2>

    <!--内容111-->
    <div class="info_middlebody">


        <%- include('../../component/table/twoNormalInput.ejs',{
        "titleone":"企业名称：",
        "placeholderone":"请输入企业名称",
        "titletwo":"审批人：",
        "placeholdertwo":"请输入审批人姓名"
        })%>

        <%- include('../../component/table/twoSelect.ejs',{
        "titleone":"审批状态：",
        "defaulttitleone":"待审批",
        "optionone":[
        {"option":"拒绝"},
        {"option":"同意"}],
        "titletwo":"第三方认证结果：",
        "defaulttitletwo":"全部",
        "optiontwo":[
        {"option":"已通过"},
        {"option":"未通过"}],

        })%>
        <%- include('../../component/table/formDatetime.ejs',{
        "title":"提交日期："
        })%>

        <%- include('../../component/table/formDatetime.ejs',{
        "title":"审批日期："
        })%>

        <!-- 一排多个组件-->
        <div class="control-title">
            <div>
                <span></span>
                <span></span>
            </div>
            <div>
                <span></span>
                <span></span>
            </div>
        </div>

        <%-include("../../component/table/onerightBtn.ejs",{
        "titleone":"查询"
        })%>



    </div>


    <!-- 表格-->
    <div class="table-responsive info_table">
        <table class="table table-striped">
            <thead>
            <tr class="tr-zy">
                <th>流水ID</th>
                <th>企业名称</th>
                <th>企业识别码</th>
                <th>企业编号</th>
                <th>提交时间</th>
                <th>第三方认证结果</th>
                <th>审批状态</th>
                <th>审批人</th>
                <th>审批时间</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>待审批</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span class="approve">审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>待审批</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span class="approve">审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>待审批</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span class="approve">审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>拒绝</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span>审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>拒绝</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span>审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>拒绝</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span>审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>拒绝</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span >审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>拒绝</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span>审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>同意</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span>审批</span></td>

            </tr>
            <tr>
                <td><a>1234579655</a></td>
                <td>上海你我贷</td>
                <td>45629653626</td>
                <td>100000001</td>
                <td>2017-01-01 10:00:00</td>
                <td>已通过</td>
                <td>同意</td>
                <td>邵丁</td>
                <td>2017-01-01 10:00:00</td>
                <td><span>审批</span></td>

            </tr>





            </tbody>
        </table>
    </div>






    <!--审批模态框-->
    <div class="modal fade"  id="approve_modal" tabindex="-1" aria-labelledby="modify_addressLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="modify_addressLabel">审批</h4>
                </div>
                <!-- body-->
                <div class="modal-body">

                    <%- include('../../component/input/input_info.ejs',{
                        "title":"企业名称：",
                        "basicinfo":"上海淘略数据处理有限公司"
                    })%>
                    <%- include('../../component/input/input_info.ejs',{
                    "title":"统一社会信用代码：",
                    "basicinfo":"12346874259253582652"
                    })%>
                    <%- include('../../component/input/input_info.ejs',{
                    "title":"法人代表：",
                    "basicinfo":"小丁"
                    })%>
                    <%- include('../../component/input/input_info.ejs',{
                    "title":"第三方认证结果：",
                    "basicinfo":"已通过"
                    })%>

                    <%- include('../../component/input/scale_photo.ejs',{
                    "titleone":"营业执照："
                    })%>

                    <%- include('../../component/input/scale_photo.ejs',{
                    "titleone":"认证授权书："
                    })%>


                    <%- include('../../component/input/scale_photo.ejs',{
                    "titleone":"企业公章："
                    })%>




                    <%- include('../../component/input/normalOneInput.ejs',{
                        "title":"认证失败原因：",
                        "placeholder":""
                    })%>

                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy ">确认</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--编辑模态框-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="company_photo" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel"> 编辑员工信息 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/company_photo.jpg"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>


    $('.approve').on("click",function(){
        modelInfo('#approve_modal'); //参数：模态框id选择器
    })

    $('.enlargement_photo').on("click",function(){
        modelInfo('#company_photo'); //参数：模态框id选择器
    })



</script>
</body>
</html>