
    <div class="info_content certificate ">
        <span><%=title%></span>
    <span>

         <span><%=basicinfo%></span>

        <% if(certificate){ %>

        <span><img src="<%=onesrc%>"></span>


        <% } else { %>

        <a href="<%=thishref%>"><%=textinfo%><img src="<%=twosrc%>"></a>
        <% } %>

    </span>
    </div>
