
    <div class="info_content certificate ">
        <span><%=title%></span>
    <span>

         <span><%=basicinfo%></span>

        <% if(certificate){ %>

        <span><img src="<%=onesrc%>"><%=textoneinfo%></span>


        <% } else { %>

        <a href="<%=thishref%>" id="go_certificate"><img src="<%=twosrc%>"><%=texttwoinfo%><span class="gocertificate"><%=textthree%></span></a>

        <% } %>

    </span>
    </div>
