<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <style>

    </style>
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>个人基本信息</h2>

    <!--内容111-->
    <div class="info_middlebody">
        <!--用户名-->


        <%- include('../../component/basic/info.ejs',{
        "title":"登陆账号：",
        "basicinfo":"wang***12@163.com"
        })%>

        <%- include('../../component/input/input_btn.ejs',{
        "title":"登陆密码：",
        "thisValue":"********",
        "btntext":"修改",
         "thisIdname":"modifypasd",
        "modelshow":true
        })%>

        <%- include('../../component/input/input_btn.ejs',{
        "title":"手机号码：",
         "thisValue":"15236478955",
        "btntext":"修改",
        "thisIdname":"modifyphone",
        "modelshow":true
        })%>

        <%- include('../../component/basic/info.ejs',{
        "title":"企业名称：",
        "basicinfo":"上海淘略数据处理有限公司"
        })%>


    </div>
    <!--底部按钮-->
</div>

<!--修改手机号码模态框 第一步-->
<div class="modal fade" tabindex="-1" id="modifyphoneone" aria-labelledby="staff_lookup_editLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="staff_lookup_editLabel">更改安全手机</h4>
            </div>
            <!-- body-->
            <div class="modal-body">

                <!--模态框组件-->
                <%- include('../../component/modal/centerText.ejs',{
                "titleone":"请发送验证码到手机",
                "titletwo":"152****5623"
                })%>

                <%- include('../../component/modal/getMessage.ejs')%>
                <!-- footer -->
                <div class="modal-footer" style="margin-top: 25px">
                    <button type="button" class="btn btn-primary btn-primary-zy phone_nextbtn">下一步</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">&#x53D6;&#x6D88;</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--修改手机号码模态框 第二步-->
<div class="modal fade" tabindex="-1" id="modifyphonetwo" aria-labelledby="staff_lookup_editLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="staff_lookup_editLabel">更改安全手机</h4>
            </div>
            <!-- body-->
            <div class="modal-body">


                <!--模态框组件-->
                <%- include('../../component/modal/notitleInput.ejs',{
                "thisplaceholder":"请输入手机号码"
                })%>


                <%- include('../../component/modal/getMessage.ejs')%>
                <!-- footer -->
                <div class="modal-footer" style="margin-top: 25px">
                    <button type="button" class="btn btn-primary btn-primary-zy savephone">保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">&#x53D6;&#x6D88;</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--修改密码模态框第二步-->
<div class="modal fade modifypasdtwo" tabindex="-1" id="modifypasdtwo" aria-labelledby="staff_lookup_editLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="staff_lookup_editLabel">修改登陆密码</h4>
            </div>
            <!-- body-->
            <div class="modal-body">

                <!--模态框组件-->
                <%- include('../../component/input/pasdInput.ejs',{
                "title":"新密码：",
                "newpasd":true,
                "placeholder":"请输入新密码"
                })%>



                <!--模态框组件-->
                <%- include('../../component/input/pasdInput.ejs',{
                "title":"请再输入一次：",
                "newpasd":false,
                "placeholder":"请输入新密码"
                })%>

                <!-- footer -->
                <div class="modal-footer" style="margin-top: 25px">
                    <button type="button" class="btn btn-primary btn-primary-zy savepasd" >保存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--修改密码模态框第一步-->
<div class="modal fade" tabindex="-1" id="modifypasdone" aria-labelledby="staff_lookup_editLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="staff_lookup_editLabel">修改登陆密码</h4>
            </div>
            <!-- body-->
            <div class="modal-body">

                <!--模态框组件-->
                <%- include('../../component/input/bottomtextInput.ejs',{
                "title":"原密码",
                "placeholder":"单行输入",
                "thistype":"password",
                "text":"请发送验证码到手机152****4563"
                })%>


                <%- include('../../component/input/messageInput.ejs',{
                "title":"短信验证码",
                "placeholder":"单行输入",
                "buttonText":"点击发送"
                })%>

                <!-- footer -->
                <div class="modal-footer" style="margin-top: 25px">
                    <button type="button" class="btn btn-primary btn-primary-zy modfiypasd_next">下一步</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.js"></script>

<script>




    //修改密码模态框
    $('#modifypasd').click(function(){

        //连续跳转2个模态框
        twoinfoModel('#modifypasdone', '.modfiypasd_next', '#modifypasdtwo','.savepasd')//参数一第一个模态框ID选择器，参数二第一个模态框关闭按钮选择器，参数三第二个模态框ID选择器，参数二第二个模态框关闭按钮选择器
    })


    $('.savephone').click(function(){

        jfModelFrame.successModelShow('手机修改成功','绑定安全手机操作成功','')
    })


    //修改手机号码
    $('#modifyphone').click(function(){

        twoinfoModel('#modifyphoneone', '.phone_nextbtn', '#modifyphonetwo','.savephone')//参数一第一个模态框ID选择器，参数二第一个模态框关闭按钮选择器，参数三第二个模态框ID选择器，参数二第二个模态框关闭按钮选择器
    })


    //倒计时效果

    $('.getmessage').click(function(){

        getmessage(this,"60")
    })

    //报错方法
    //输入报错验证
    $(".messageinput").on({

        //-----------change事件出现提示信息
        change: function () {

            jfValidateInput.validateWrong(this, '输入错误');//参数一为选取的该元素，参数二为出现的提示信息
        },

        //-----------再次焦点事件提示信息删除
        focus: function () {
            jfValidateInput.validateRemove(this);//参数为选取的该元素
        }
    });



</script>

</body>
</html>