<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>企业基本信息</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <style>

    </style>
</head>
<body class="ovfHiden qiao">
<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>企业认证</h2>

    <!--内容111-->
    <div class="info_middlebody">

        <!--进度条-->
        <%- include('../../component/basic/progress_bar.ejs',{

        "options":[
        {"text":"1.基本信息认证"},
        {"text":"2.企业资料提交"},
        {"text":"3.认证完成"},
        ],
        "j":"1"
        })%>

        <%- include('../../component/input/upload_file.ejs',{
        "title":"营业执照：",
        "thisSrc":"../../icon/company_photo.jpg",
        "textone":"上传：营业执照图片；",
        })%>

        <%- include('../../component/input/addstarinput.ejs',{
        "title":"纳税人识别号：",
        "placeholder":"请仔细核对您的纳税人识别号"
        })%>


        <%- include('../../component/input/upload_download.ejs',{
        "title":"认证授权书：",
        "thisSrc":"../../icon/certificate_authority.png",
        "textone":"请下载认证授权书；",
        "texttwo":"按要求填写，并手写仅用于企业认证字样，并加盖企业公章",
            "thishref":"../../icon/certificate_authority.doc"
        })%>


        <%- include('../../component/input/upload_file.ejs',{
        "title":"企业公章：",
        "thisSrc":"../../icon/company_offiicial_seal.png",
        "textone":"上传：企业公章图片；",
        })%>

        <%- include('../../component/input/checkboxinput.ejs',{
        "text":"《嘉福福利代采购协议》",
        "thishref":"agreement.html"
        })%>


        <%- include('../../component/button/oneButton.ejs',{
        "buttontext":"提交审核",
        "thisurl":"certificate_stepthree.html",
        })%>



        <!--用户名-->

    </div>
    <!--底部按钮-->

    <!--营业执照模板-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="company_photo" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel">营业执照模板 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/company_photo.jpg"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--企业认证模板-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="certificate_authority" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel">认证授权书模板 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/certificate_authority.png"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--企业公章模板-->
    <div class="modal fade" tabindex="-1" aria-labelledby="staff_lookup_editLabel" id="company_official_seal" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                    <h4 class="modal-title" id="staff_lookup_editLabel">企业公章模板 </h4>
                </div>
                <!-- body-->
                <div class="modal-body">
                    <div class="business_license"><img src="../../icon/company_offiicial_seal.png"></div>
                    <!-- footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close" data-dismiss="modal">确认</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.js"></script>
<script>


    //企业营业执照模态框
    document.getElementsByClassName('left_img')[0].addEventListener('click',function(){
        //一个模态框出现的方法
        modelInfo('#company_photo')//模态框ID选择器
    },false)

    //企业认证模态框
    document.getElementsByClassName('left_img')[1].addEventListener('click',function(){
        //一个模态框出现的方法
        modelInfo('#certificate_authority')//模态框ID选择器
    },false)

    //企业公章模态框
    document.getElementsByClassName('left_img')[2].addEventListener('click',function(){
        //一个模态框出现的方法
        modelInfo('#company_official_seal')//模态框ID选择器

    },false)



</script>
</body>
</html>