<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>银行账户管理</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
</head>


<!--银行账户信息修改-金俊菲-2017-5.8-->
<body class="ovfHiden qiao">

<div class="panel-body panel-body-shodow">
    <!--title-->
    <h2>银行账户管理</h2>




    <div class="info_middlebody">
        <%- include("../../component/bank/companyAauthentication.ejs",{
        "authenticated":true
        })%>


        <div class="cards">
            <%- include("../../component/bank/bankCards.ejs")%>
            <%- include("../../component/bank/bankCards.ejs")%>
            <%- include("../../component/bank/bankCards.ejs")%>

        </div>
        <div class="cards">
            <%- include("../../component/bank/bankCards.ejs")%>
            <%- include("../../component/bank/bankAdd.ejs")%>
        </div>


    </div>

</div>
<!--模态框1-添加银行账户-->
<div class="modal fade" id="addbankcard_modal" tabindex="-1" aria-labelledby="account_pasdxiugaiLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="account_pasdxiugaiLabel">添加银行账户</h4>
            </div>
            <!-- body-->
            <div class="modal-body">
                <!--模态框组件-->
                <%- include('../../component/input/input_info.ejs',{
                "title":"账户名：",
                "basicinfo":"小丁农场",
                })%>

                <!--模态框组件-->
                <%- include('../../component/input/normalOneInput.ejs',{
                "title":"银行账号：",
                "placeholder":"请输入银行账号",
                })%>

                <!--模态框组件-->
                <%- include('../../component/input/normalOneInput.ejs',{
                "title":"银行名称：",
                "placeholder":"请输入银行名称",
                })%>

            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-primary-zy model-change1 savecards" data-dismiss="modal">保存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>


<!--模态框2-删除银行账户-->
<div class="modal fade" id="deletebankcard_modal" tabindex="-1" aria-labelledby="account_pasdxiugaiLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="account_pasdxiugaiLabel">删除银行账户</h4>
            </div>
            <!-- body-->
            <div class="modal-body">
                <!--模态框组件-->
                <%- include('../../component/modal/modal_info.ejs',{
                "title":"账户名：",
                "basicinfo":"小丁农场",
                })%>

                <!--模态框组件-->
                <%- include('../../component/modal/modal_info.ejs',{
                "title":"银行账号：",
                "basicinfo":"13462565626562646",
                })%>

                <!--模态框组件-->
                <%- include('../../component/modal/modal_info.ejs',{
                "title":"银行名称：",
                "basicinfo":"中国工商银行",
                })%>

            </div>
            <!-- footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-primary-zy model-change1 savecards" data-dismiss="modal">确认</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>

<script>
    //删除银行模态框
    $('.delete_bankcard').on("click",function () {
        modelInfo('#deletebankcard_modal')//模态框的ID值
    })

    //添加银行卡模态框

    $('.bank_add').on("click",function () {
        modelInfo('#addbankcard_modal')//模态框的ID值
    })
</script>

</body>

</html>
