<div class="smodal_content">
    <div class="info_content modal22">
        <span><%=title%></span>
        <span>
            <div class="left_img certificate_authority">
                <img src="<%=thisSrc%>">
                <p>点击查看模板</p>
            </div>
            <div class="right_text">
                <p>
                    <span><%=textone%><a href="<%=thishref%>" download="认证授权书">点击下载</a></span>
                    <span><%=texttwo%></span>
                </p>
                <p>照片所有信息需要清晰可见，内容真实有效。
                    <br/>
                    照片支持.jpg .jpeg .bmp .gif .png格式，大小不超过8M。
                </p>
                <a href="#" class="choose_file">
                    <input type="file"><span>选择文件</span>
                </a>
            </div>
        </span>
    </div>
</div>

<script>


</script>