<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>嘉福企业注册</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <!--IE8只能支持jQuery1.9-->
    <!--[if lte IE 8]>
    <script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <![endif]-->
</head>
<body class="register_page">
<!--注册登录页面通用导航-->
<%- include('../../component/basic/topnav.ejs')%>

<div class="container">

    <div class="register_box">

        <!--进度条-->
        <%- include('../../component/basic/progress_bar.ejs',{

        "options":[
        {"text":"1.填写手机号"},
        {"text":"2.完善信息"},
        {"text":"3.注册成功"},
        ],
        "j":"1"

        })%>

        <!--手机号码-->
        <div class="smodal_content tipText_content">
            <div class=" info_content modal22">
                <p>你已经管理过的企业：上海淘略数据处理有限公司；嘉福弹性福利</p>
                <p>继续注册会重新创建另外一个企业，你可以直接返回<a>企业登陆</a>管理已有企业</p>
            </div>
        </div>






        <!--企业名称-->
        <%- include('../../component/input/normalOneInput.ejs',{
        "title":"*企业(团队)名称",
        "placeholder":"请填写企业(团队)名称"
        })%>



        <!--2个Select选择框-->
        <%- include('../../component/select/twoSelect.ejs',{
        "title":"所在地",
        "placeholderone":"请选择",
        "optionone":[
        {"option":"上海市"},
        {"option":"北京市"},
        {"option":"江苏省"},
        {"option":"浙江省"},
        {"option":"重庆市"},
        {"option":"天津市"},
        ],
        "placeholdertwo":"请选择",
        "optiontwo":[
        {"option":"徐汇区"},
        {"option":"浦东区"},
        {"option":"闵行区"},
        {"option":"浦东新区"},
        {"option":"宝山区"},
        {"option":"嘉定区"},
        ],
        })%>


        <%- include('../../component/input/pasdInput.ejs',{
        "title":"*确认管理密码",
        "newpasd":true,
         "placeholder":"必须是6-20位英文字母和数字组成"
        })%>



        <%- include('../../component/input/bottomtextInput.ejs',{
        "title":"*联系人姓名",
        "placeholder":"",
        "text":"请填写身份证上姓名"
        })%>


        <%- include('../../component/input/normalOneInput.ejs',{
        "title":"邀请码",
        "placeholder":"选填"
        })%>


        <%- include('../../component/input/checkboxinput.ejs',{
        "text":"《嘉福平台使用协议》",
            "thishref":"agreement.html"
        })%>

        <!--一个按钮-->
        <%- include('../../component/button/oneButton.ejs',{
        "thisurl":"stepthree.html",
        "buttontext":"注册"
        })%>


    </div>
</div>
<!--编辑模态框-->
<div class="modal fade" tabindex="-1" id="forget_pasd_model" aria-labelledby="staff_lookup_editLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span></span></button>
                <h4 class="modal-title" id="staff_lookup_editLabel"> 忘记管理密码 </h4>
            </div>
            <!-- body-->
            <div class="modal-body">

                <!--模态框组件-->
                <%-include('../../component/input/changetext.ejs',{
                "title":"当前企业:",
                "content":"嘉福弹性福利"
                })%>

                <%- include('../../component/input/messageInput.ejs',{
                "title":"绑定手机号*:",
                "buttonText":"获取验证码"
                })%>

                <%- include('../../component/input/normalOneInput.ejs',{
                "title":"验证码*:",
                "placeholder":"请填写验证码"
                })%>

                <%- include('../../component/input/pasdInput.ejs',{
                "title":"新管理密码*:",
                "newpasd":true,
                "placeholder":"必须是6-20位英文字母和数字组成"
                })%>

                <%- include('../../component/input/pasdInput.ejs',{
                "title":"确认管理密码:",
                "newpasd":false,
                "placeholder":"请输入确认管理密码"
                })%>

                <!-- footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-primary-zy model-change1 edit_close">保存</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
   // modelInfo('#forget_pasd_model'); //参数：模态框id选择器

    //倒计时效果
    document.getElementsByClassName('input-group-addon')[0].addEventListener('click',function(){
        getmessage(this,"60")
    },false)


    //输入报错验证
    $(".input_valiate").on({

        //-----------change事件出现提示信息
        change: function () {

            jfValidateInput.validateWrong(this, '输入错误');//参数一为选取的该元素，参数二为出现的提示信息
        },

        //-----------再次焦点事件提示信息删除
        focus: function () {
            jfValidateInput.validateRemove(this);//参数为选取的该元素
        }
    });

    //-----------------------密码验证(第一次新密码)
    $("input.new_password").each(function () {

        $(this).on({

            //---------密码验证条出现以及识别当前密码强度
            focus: function () {

                jfPasdValidateshow(this);//参数表示选择的该元素

                jfPasdValidate(this);//参数表示选择的该元素
            },

            //----------密码强度
            keyup: function () {
                jfPasdValidate(this);//参数表示选择的该元素
            },

            //--------密码强度移除
            blur: function () {
                PasdValidateRemove(this);//参数表示选择的该元素
            }
        })
    });
</script>
</body>
</html>