<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>嘉福企业注册</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <!--IE8只能支持jQuery1.9-->
    <!--[if lte IE 8]>
    <script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <![endif]-->
</head>
<body class="register_page">
<!--注册登录页面通用导航-->
<%- include('../../component/basic/topnav.ejs')%>

<div class="container">

    <div class="register_box">

        <!--进度条-->
        <%- include('../../component/basic/progress_bar.ejs',{

        "options":[
        {"text":"1.填写手机号"},
        {"text":"2.完善信息"},
        {"text":"3.注册成功"},
        ],
        "j":"1"

        })%>

        <!--手机号码-->
        <div class="smodal_content tipText_content">
            <div class=" info_content modal22">
                <p>你的手机已经管理了25家企业，继续注册会重新创建另一个企业，你可以直接返回<a>登陆</a>管理已有企业</p>
            </div>
        </div>






        <!--企业名称-->
        <%- include('../../component/input/normalOneInput.ejs',{
        "title":"*企业(团队)名称",
        "placeholder":"请填写企业(团队)名称"
        })%>



        <!--2个Select选择框-->
        <%- include('../../component/select/twoSelect.ejs',{
        "title":"所在地",
        "placeholderone":"请选择",
        "optionone":[
        {"option":"上海市"},
        {"option":"北京市"},
        {"option":"江苏省"},
        {"option":"浙江省"},
        {"option":"重庆市"},
        {"option":"天津市"},
        ],
        "placeholdertwo":"请选择",
        "optiontwo":[
        {"option":"徐汇区"},
        {"option":"浦东区"},
        {"option":"闵行区"},
        {"option":"浦东新区"},
        {"option":"宝山区"},
        {"option":"嘉定区"},
        ],
        })%>


        <%- include('../../component/input/pasdInput.ejs',{
        "title":"*管理密码",
        "newpasd":true,
         "placeholder":"必须是6-20位大小写英文字母和数字组成"
        })%>

        <%- include('../../component/input/pasdInput.ejs',{
        "title":"*确认管理密码",
        "newpasd":false,
        "placeholder":"请再次确认密码"
        })%>


        <%- include('../../component/input/bottomtextInput.ejs',{
        "title":"*联系人姓名",
        "placeholder":"",
        "thistype":"text",
        "text":"请填写身份证上姓名"
        })%>


        <%- include('../../component/input/normalOneInput.ejs',{
        "title":"邀请码",
        "placeholder":"选填"
        })%>


        <%- include('../../component/input/checkboxinput.ejs',{
        "text":"《嘉福平台使用协议》",
            "thishref":"agreement.html"
        })%>

        <!--一个按钮-->
        <%- include('../../component/button/oneButton.ejs',{
        "thisurl":"stepthree_success.html",
        "buttontext":"注册"
        })%>


    </div>
</div>



<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>

    //输入报错验证
    $(".input_valiate").on({

        //-----------change事件出现提示信息
        change: function () {

            jfValidateInput.validateWrong(this, '该企业已注册，若有问题请联系客服');//参数一为选取的该元素，参数二为出现的提示信息
        },

        //-----------再次焦点事件提示信息删除
        focus: function () {
            jfValidateInput.validateRemove(this);//参数为选取的该元素
        }
    });




   /*客服模块*/
   jfCustomerService.init({//用户信息
       name: '阿陈',// 名字
       address: '西伯利亚',// 地址
       email: '1313@qq.com',// 邮箱
       age: '16',// 年龄
       tel: '110',// 电话
       comment: '很帅',// 备注
       gender: '男',// 性别
       qq: '1234567',// QQ
       weibo: '',// 微博
       weixin: '',// 微信
       '公司名称':'上海淘略数据有限公司',
       '公司编号':'123ksuhdaf891274',
       '员工编号':'1234567890123456'
   })
</script>
</body>
</html>