<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1, maximum-scale=1">
    <title>嘉福企业注册</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.min.css">
    <!--IE8只能支持jQuery1.9-->
    <!--[if lte IE 8]>
    <script src="http://cdn.bootcss.com/jquery/1.9.0/jquery.min.js"></script>
    <![endif]-->
</head>
<body class="register_page">
<!--注册登录页面通用导航-->
<%- include('../../component/basic/topnav.ejs')%>
<div class="container">

    <div class="register_box">

        <!--进度条-->
        <%- include('../../component/basic/progress_bar.ejs',{

            "options":[
        {"text":"1.填写手机号"},
        {"text":"2.完善信息"},
        {"text":"3.注册成功"},
        ],
            "j":"0"
        })%>
        <!--手机号码-->
        <%- include('../../component/input/normalOneInput.ejs',{
        "title":"*手机号码",
        "placeholder":"请填写手机号码",
        })%>

        <!--短信验证码-->
        <%- include('../../component/input/messageInput.ejs',{
        "title":"*短信验证码",
        "buttonText":"点击获取"
        })%>

        <!--一个按钮-->
        <%- include('../../component/button/oneButton.ejs',{
        "thisurl":"steptwo.html",
        "buttontext":"下一步"
        })%>


    </div>
</div>
<script type="text/javascript" src="../../js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../js/BusinessService.min.js"></script>
<script>
    //倒计时效果
    document.getElementsByClassName('input-group-addon')[0].addEventListener('click',function(){
        getmessage(this,"60")//倒计时方法，参数一是点击的该元素，参数二是时间
    },false)



    //输入提示信息验证
    $(".input_valiate").on({


        //-----------change事件出现提示信息，出现文本提示正确的方法
        change: function () {
            //出现文本提示正确的方法
            jfValidateInput.validateRight(this, '输入正确');//参数一为选取的该元素，参数二为出现的提示信息
        },

        //-----------再次焦点事件提示信息删除，移除文本提示信息方法
        focus: function () {

            //移除文本提示信息方法
            jfValidateInput.validateRemove(this);//参数为选取的该元素
        }
    });


    /*客服模块*/
    jfCustomerService.init({//用户信息
        name: '阿陈',// 名字
        address: '西伯利亚',// 地址
        email: '1313@qq.com',// 邮箱
        age: '16',// 年龄
        tel: '110',// 电话
        comment: '很帅',// 备注
        gender: '男',// 性别
        qq: '1234567',// QQ
        weibo: '',// 微博
        weixin: '',// 微信
        '公司名称':'上海淘略数据有限公司',
        '公司编号':'123ksuhdaf891274',
        '员工编号':'1234567890123456'
    })

</script>
</body>
</html>